<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{pageTitle}}</title>
</head>
<body>
	{{> header}}
	<h1>{{pageTitle}}</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio molestiae libero tempore quis cupiditate aut ipsum nisi iusto cum delectus porro vero expedita nam harum fugit, vitae accusantium doloremque, aliquam.</p>
	{{> footer}}
</body>
</html>