<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{pageTitle}}</title>
</head>
<body>
	{{> header}}
	<h1>{{pageTitle}}</h1>
	<p>project text here</p>
	{{> footer}}
</body>
</html>